main {
	display: flex;
	align-items: center;
	justify-content: center;
}
main .message {
	width: 90%;
	padding: 20px;
	text-align: center;
	border: 3px solid #DF0101;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main .message hr {
	width: 50%;
	margin: 20px auto;
	display: block;
}

main .message p {
	max-width: 90%;
}