main {
	display: flex;
	align-items: center;
	justify-content: center;
}

main .message {
	padding: 20px;
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	border: 3px solid #01DF01;
}

main .message h2 {
	/*margin-bottom: 20px;*/
}

main .message p {
	max-width: 90%;
	display: block;
	margin: auto;
}

main .message hr {
	display: block;
	margin: 20px auto;
	width: 50%;
}