main {
	display: flex;
	align-items: center;
	justify-content: center;
}

main .form {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

main .form form {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main .form form h2 {
	margin-bottom: 20px;
}

main .form form .pass1,
main .form form .pass2 {
	width: 70%;
	display: flex;
	flex-direction: column;
	margin: 10px 0px;
}

main .form form .pass1 input[type=password],
main .form form .pass2 input[type=password]{
	padding: 5px;
}

main .form form input[type=button] {
	border:1px solid rgb(121, 82, 179);
	background: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	display: block;
	margin:10px auto ;
}

main .form form input[type=button]:hover {
	transition: all 0.5s ease;
	background-color:rgb(121, 82, 179);
	color: #fff; 
	cursor: pointer;
}

/*Mensje*/

main .form .loading {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	border: 1px solid #000;
	color:#000;
	margin-bottom: 40px;
}

/*Animacion del loading*/

main .form .loading .icon {
	animation:girar 1.5s linear infinite;
}

@keyframes girar {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

main .form .error {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	border: 1px solid #DF0101;
	color:#DF0101;
	margin-bottom: 40px;	
}

main .form .error .icon {
	display: none;
}

.error_empty {
	color: #DF0101;
}

.message {
	display: none;
}


.successfully_change {
	/*text-align: center;*/
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.successfully_change h2 {
	margin-bottom: 20px;
}

.successfully_change p a {
	text-decoration: none;
	color: #000;
	border:1px solid rgb(121, 82, 179);
	background: #fff;
	padding: 10px 20px;
	border-radius: 10px;
}

.successfully_change p a:hover {
	transition: all 0.5s ease;
	background-color:rgb(121, 82, 179);
	color: #fff; 
	cursor: pointer;
}